## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
#write here and run the cell
keys = [i for i in range(1,11)]
print("    ", end="")
for i in keys:
  print(f"{i:4}",end ="")
print()
print("-"*(len(keys)+1)*4)
# print()
for j in range(1,11):
  print(f"{j:2} |", end="")
  for i in keys:
    print(f"{j *i:4}",end="")
  print()

       1   2   3   4   5   6   7   8   9  10
--------------------------------------------
 1 |   1   2   3   4   5   6   7   8   9  10
 2 |   2   4   6   8  10  12  14  16  18  20
 3 |   3   6   9  12  15  18  21  24  27  30
 4 |   4   8  12  16  20  24  28  32  36  40
 5 |   5  10  15  20  25  30  35  40  45  50
 6 |   6  12  18  24  30  36  42  48  54  60
 7 |   7  14  21  28  35  42  49  56  63  70
 8 |   8  16  24  32  40  48  56  64  72  80
 9 |   9  18  27  36  45  54  63  72  81  90
10 |  10  20  30  40  50  60  70  80  90 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
#write here and run the cell
l1 = [i for i in range(0,10)]
l2 = [i for i in range(10,20)]
l3 = []
k = 0
while(k < (max(len(l1),len(l2)))):
  if k%2==1 and k<len(l1):
    l3.append(l1[k])
  elif k%2 == 0 and k<len(l2):
    l3.append(l2[k])
  k+=1
print(l3)

[10, 1, 12, 3, 14, 5, 16, 7, 18, 9]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
#write here and run the cell
space = 0
star = 8
while(star > 0):
  print("  "*space,end="")
  print("* "*star,end ="")
  print()
  star -= 1
  space += 1

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
#write here and run the cell
def exponent(base, exp):
  if exp ==0:return 1
  my_sum = base
  for i in range(exp-1):
    my_sum *= base
  return my_sum
print(exponent(5,4))

625

Q5. Create a file named test.txt and insert the following content into it.





    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [ ]:
# Creating the file test.txt file

content = [f"line{i}\n" for i in range(1,8)]
with open("test.txt", "w") as file:
    file.write("".join(content))

In [ ]:
#Writing a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)
with open("test.txt", "r") as file:
  content = (file.read().split("\n"))[:-1]
with open("test2.txt","w") as file:
  content  = content[:5] + content[6:]
  file.write("\n".join(content))
print(content)

['line1', 'line2', 'line3', 'line4', 'line5', 'line7']

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
#write here and run the cell
name_list = input("Input: ").split()

print()
while(name_list[0] !="-1"):
  if len(name_list) ==3:
    print("Output:")
    for i in name_list:
      print(i)
    break
  else:
    print(" Please enter 3 names\nTo Quit please press -1")
    name_list = input("Input: ").split()
print("thank you !!")

Input: as

 Please enter 3 names
To Quit please press -1
Input: -1
thank you !!

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [75]:
#write here and run the cell
def showEmployee(name: str, val = 9000):
    print(f"Name: {name}, salary: {val}")

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

Name: Bill Gates, salary: 12000
Name: Elon Musk, salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [79]:
#write here and run the cell
import re

def words_letters(input_string):
    pattern = r'\b(?=\w*\d)(?=\w*[a-zA-Z])\w+\b'

    matches = re.findall(pattern, input_string)

    return matches

input_string = "Harry25 is Gryffindor Wizard50 and cursed"
result = words_letters(input_string)
print("Given String: ", input_string)
print("Output:")
for i in result:
  print(i)

Given String:  Harry25 is Gryffindor Wizard50 and cursed
Output:
Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [83]:
#write here and run the cell
#write here and run the cell
import re

def words_letters(input_string):
    pattern = r'[^a-zA-Z0-9 ]'
    result = re.sub(pattern, '#', input_string)

    return result


input_string = "/*Modi is @Politician & Melony!!"
result = words_letters(input_string)
print("Given String: ", input_string)
print("Output: ", result)

Given String:  /*Modi is @Politician & Melony!!
Output:  ##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [84]:
#write here and run the cell
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
result_set = {(x, x**2) for x in first_list if x**2 in second_list}
print("Result is", result_set)

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [86]:
#write here and run the cell

# Define the sets
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Perform set operations
A_minus_B = A - B
B_minus_A = B - A
A_and_B = A & B
A_union_B = A | B

# Print the results
print("A - B:", A_minus_B)
print("B - A:", B_minus_A)
print("A ∩ B:", A_and_B)
print("A ∪ B:", A_union_B)

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [87]:
#write here and run the cell
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def __str__(self):
        return f"Vehicle with max speed of {self.max_speed} km/h and mileage of {self.mileage} km"

vehicle1 = Vehicle(110, 1000)
print(vehicle1)

Vehicle with max speed of 110 km/h and mileage of 1000 km

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [90]:
#write here and run the cell
class Bus(Vehicle):
    def __init__(self, max_speed, mileage, seating_capacity):
        super().__init__(max_speed, mileage)
        self.seating_capacity = seating_capacity

    def __str__(self):
        return f"Bus with max speed of {self.max_speed} km/h and mileage of {self.mileage} km, and seating capacity of {self.seating_capacity}"

bus = Bus(120, 50000, 50)

print(bus)

Bus with max speed of 120 km/h and mileage of 50000 km, and seating capacity of 50

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [93]:
#write here and run the cell
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage, capacity=50):
        super().__init__(name, max_speed, mileage)
        self.capacity = capacity

    def seating_capacity(self):
        return f"The seating capacity of a {self.name} is {self.capacity} passengers"

bus = Bus(name="bus", max_speed=120, mileage=50000)

print(bus.seating_capacity())

The seating capacity of a bus is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [ ]:
#write here and run the cell
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

class Bus(Vehicle):
    def fare(self):

        base_fare = super().fare()

        maintenance_fee = base_fare * 0.10

        total_fare = base_fare + maintenance_fee
        return total_fare

school_bus = Bus("School Volvo", 12, 50)

print("Total Bus fare is:", school_bus.fare())

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [95]:
#write here and run the cell
data = {"key1" : "value1", "key2" : "value2"}
data = {"key1" : "value1", "key2" : "value2"}
print(data)

{'key1': 'value1', 'key2': 'value2'}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [94]:
#write here and run the cell
import json

# Define the sample JSON object (Python dictionary)
sampleJson = {"id": 1, "name": "value2", "age": 29}

# Convert the dictionary to a JSON string with sorted keys
sorted_json_string = json.dumps(sampleJson, sort_keys=True, indent=4)

# Write the sorted JSON string to a file
with open('sorted_data.json', 'w') as file:
    file.write(sorted_json_string)

print("Sorted JSON has been written to 'sorted_data.json'")

Sorted JSON has been written to 'sorted_data.json'